<div id="mypage_area">
    <div id="mypage_container" style="height: 100%; margin-top: 0px; flex-direction: row;">
        <div class="app_for_exhibition_container_left">
            <div class="app_for_exhibition_user_info">
                <div class="afe_user_info_imgbox">
                    <img class="afe_user_info_img" src="/uploads/<%=sess.user.IMG%>" alt="">
                </div>
                <p class="afe_user_info_name"><%= sess.user.NAME%></p>
                <p class="afe_user_info_name" style="font-weight: 500; letter-spacing: -0.5px;"><%= sess.user.EMAIL%></p>
            </div>
            <div class="app_for_exhibition_user_info_bottom">
                <p class="app_for_exhibition_user_info_bottom_text" onclick="location.href='/user_change_info_first'">회원정보 수정</p>
                <p class="app_for_exhibition_user_info_bottom_text" style="margin-bottom: 30px; margin-top: -10px; color: #4B97FD; font-weight: 700;">결제카드 관리</p>
                <p class="app_for_exhibition_user_info_bottom_text" style="">전시회 등록</p>
                <p class="app_for_exhibition_user_info_bottom_text" style="margin-bottom: 30px; margin-top: -10px;">전시작품 등록</p>
            </div>
        </div>
        <div class="mypage_main_box_right" style="flex-direction: column ;justify-content: flex-start; margin-top: 150px;">
            <% if (row.length == 0){%>
            <p style="font-size: 30px; font-weight: 700px; letter-spacing: -1.3px;">등록한 카드가 존재하지 않습니다.</p>
            <div style="display: flex; margin-top: 20px;">
                <button class="mypage_user_card_btn"onclick="location.href='/register_card'">카드 등록하기</button>
            </div>
            <%} else {%>
                <div class="user_card_box">
                    <div class="user_card_box_imgbox">
                        <img src="/public/images/icon/693.png" alt="">
                    </div>
                    <div class="user_card_box_textbox">
                        <div style="display: flex;">
                            <p class="user_card_box_textbox_title"><%=row[0].NUMBER%> / </p>
                            <p class="user_card_box_textbox_title">&nbsp;<%=row[0].DATE%></p>
                        </div>
                        <div style="display: flex;">
                            <button class="user_card_box_btn" style="margin-right: 30px;">카드 수정</button>
                            <button class="user_card_box_btn" onclick="location.href='/delete_user_card/<%=row[0].NUMBER%>'">카드 삭제</button>
                        </div>
                    </div>
                </div>
            <%}%>
        </div>
    </div>
</div>
