<div class="public_post_area">
    <div class="public_post_container">
        <div class="public_post_title"><%=row[0].TITLE%></div>
        <div class="public_post_info">
            <div class="public_upload_user_imgbox">
                <img src="/uploads/<%=row2[0].IMG%>" alt="">
            </div>
            <span><%=row[0].USER_ID%>&nbsp;&nbsp;&nbsp;&nbsp;조회 <%=row[0].HIT%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=register_date%></span>
        </div>
        <div class="public_post_content">
            <%=row[0].CONTENT%>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; width: 100%;">
            <button class="public_post_back_btn" onclick="location.href='/public'">뒤로 가기</button>
        </div>
    </div>
</div>